/*
{
  "presets": [
    [
      "env",
      "react",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7",
            "IE >= 9"
          ]
        }
      }
    ]
  ]
}
*/
// react
{
  "presets": ["env", "react"]
}