appdirs==1.4.3
asn1crypto==0.23.0
cffi==1.11.2
click==6.7
cryptography==2.1.4
Django==2.0
django-cors-headers==2.1.0
djangorestframework==3.7.3
gunicorn==19.7.1
idna==2.6
olefile==0.44
packaging==16.8
Pillow==4.3.0
psycopg2==2.7
pyasn1==0.2.3
pycparser==2.18
pyocclient==0.4
pyparsing==2.2.0
python-dotenv==0.7.1
pytz==2017.3
requests==2.13.0
six==1.11.0
update==0.4.4
