{% extends 'base.html' %}
{% load staticfiles %}

{% block onload %}initMap(){% endblock onload %}

{% block content %}
<div class="container-fluid">
  <div class="header">
    <h1>Leibniz Zentrum für Marine Tropenökologie GIS Portal</h1>
  </div>
  <div class="row">
    <div class="col-sm-3 col-lg-3 sidebar" >  
    <form action="" method="get">
      <input type="text" class="form-control text-center" name="q" placeholder="Search Datasets by Title">
      <a role="button" class="btn btn-default btn-block" href="{% url 'index' %}">Show All</a>
      <button class="btn btn-default btn-block" id="clear data" onClick="clearData();">
        Clear Map
      </button>
    </form>
      <ul class="nav nav-sidebar">
        {% if dataset_list %}
          {% for dataset in dataset_list %}
            <li class="text-left">
              {% if dataset.fields.json %}
                <a href="#{{ dataset.fields.slug }}" onClick="showJsonDataPassword({{ dataset.fields.json }});">
                  {{ dataset.fields.title }}
                </a> 
              {% else %}
                <a href="#{{ dataset.fields.slug }}" onClick="showJsonData('{{ dataset.fields.url }}');">
                  {{ dataset.fields.title }}
                </a> 
              {% endif %}
            </li>
          {% endfor %}
        {% else %}
          <h4>There are no datasets available</h4>
        {% endif %}
      </li>
    </div>

    <div class="col-12 col-sm-9 col-lg-9" role="main">
      <div id=map>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'portal/js/index_map.js' %}" ></script>
    
{% endblock content %}
