{% extends 'base.html' %}

{% block head_title %}Many Points Hardcoded With Info Windows{% endblock head_title %}

{% block content %}

{% block onload %}initializeMap(){% endblock onload %}

  <div>
    <h1>Google Maps JavaScript API Tester</h1>
    <p>
      Many points hardcoded into python list of dictionary objects in the view file, 
      then passed to a javascript object. In each dictionary is a latitude, longitude, city name, description, and link to 
      the wikipedia page.
    </p>
  </div>
<br/>

  <div>
    <p>I have written a for loop with the django templating language that prints out the latitude and longitude here.</p>
    <p>The next thing I need to do is import the points directly into the setMarkers JavaScript function.</p>
  <br />
    {% for location in locations %}
      <p>
        <ul>
          <li> City: {{ location.cityname }},</li>
          <li>
            Latitude: {{ location.lat }},
            Longitude: {{ location.lng }}
          </li>
          <li>Description: {{ location.description }}</li>
<!--          <li>Wikipedia Page: {{ location.wikipedia }}</li> -->
        </ul>
      </p>
    {% endfor %}
  </div>
<br/>

  <div id='map'></div>

<script>

    function initializeMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: {lat: 53.0793, lng: 8.8017}
      });
      setMarkers(map, locations);
    }


    var locations = [
      {% for location in locations %}
        [{{ location.lat }}, {{ location.lng }}, {{ location.cityname }}],
      {% endfor %}
    ];


  function setMarkers(map, locations) {
    for (var i = 0; i < locations.length; i++) {
      var lat = locations[i][0];
      var lng = locations[i][1];
      var title = locations[i][2];

      latlngSet = new google.maps.LatLng(lat, lng):
      
      var marker = new google.maps.Marker({
        map: map,
        position: latlngSet,
        title: title
      });
      map.setCenter(marker.getPosition())

      var content = "title";

      var infowindow = new google.maps.InfoWindow()

      google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow){
        return function() {
          infowindow.setContent(content);
          infowindow.open(map, marker);
        }; 
      })(marker, content, infowindow));
    }
  }

</script>

    
{% endblock content %}
