{% extends 'base.html' %}

{% block head_title %}Many Points Hardcoded JS{% endblock head_title %}

{% block content %}
  <div>
    <h1>Google Maps JavaScript API Tester</h1>
    <h2>Many Points Hardcoded JS</h2>
    <p>This is a page that has many points hard coded into a javascript object.</p>
  </div>

<div>

  {% for location in locations %}
    <p> 
      {% for coord in location %}
        {{ coord }}
      {% endfor %}
    </p>
  {% endfor %}

  </div>
  <div id='map'></div>

<script>

      function initializeMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: 53.0793, lng: 8.8017}
        });

        setMarkers(map);
      }

      var locations = [
        [53.0793, 8.8017], //Bremen
        [33.7206, -116.2156], //Indio
        [21.3069, -157.8583], //Honolulu
        [-33.9249, 18.4241], //Cape Town
        [-6.1745, 106.8227] //Jakarta
      ];


function setMarkers(map) {
  for (var i = 0; i < locations.length; i++) {
    var beach = locations[i];
    var marker = new google.maps.Marker({
      position: {lat: beach[0], lng: beach[1]},
      map: map,
    });
  }
}
</script>

    
{% endblock content %}
