{% extends 'base.html' %}

{% block head_title %}Many Points Hardcoded Python{% endblock head_title %}

{% block content %}

{% block onload %}initializeMap(){% endblock onload %}

  <div>
    <h1>Google Maps JavaScript API Tester</h1>
    <p>
      Many points hardcoded into python list of dictionary objects in the view file, 
      then passed to a javascript object.
    </p>
  </div>
<br/>

  <div>
    <p>I have written a for loop with the django templating language that prints out the latitude and longitude here.</p>
    <p>The next thing I need to do is import the points directly into the setMarkers JavaScript function.</p>
  <br />
    {% for location in locations %}
      <p>
        City: {{ location.cityname }},
        Latitude: {{ location.lat }},
        Longitude: {{ location.lng }}
      </p>
    {% endfor %}
  </div>
<br/>

  <div id='map'></div>

<script>

    function initializeMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: {lat: 53.0793, lng: 8.8017}
      });
      setMarkers(map);
    }


    var locations = [
      {% for location in locations %}
          [{{ location.lat }}, {{ location.lng }}],
      {% endfor %}
    ];


  function setMarkers(map) {
    for (var i = 0; i < locations.length; i++) {
      var loc = locations[i];
      var marker = new google.maps.Marker({
        position: {lat: loc[0], lng: loc[1]},
        map: map,
      });
    }
  }

</script>

    
{% endblock content %}
