{% extends 'base.html' %}

{% block additional_css %}

#floating-panel {
    position: absolute;
    top: 180px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

{% endblock additional_css %}

{% block content %}

{% block onload %}initMap(){% endblock onload %}

  <div>
    <h1>Google Maps Background With Clearable Points From Multiple Sources</h1>
  </div>

<div>
  <div id="floating-panel">

    <input onclick="showData();" type=button value="Load Data">
    <input onclick="hideData();" type=button value="Clear Data">
    <input onclick="showData();" type=button value="Load Data">
    <input onclick="hideData();" type=button value="Clear Data">


  </div>


  <div id='map'></div>
</div>


<script type="text/javascript">
  var map;
  // Bring in GeoJSON from python as django template variable
  var jsonData = {{ json_data|safe }};

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    center: new google.maps.LatLng(40.7128, -74.0059),
    zoom: 12 
    });
  } 

  // Add GeoJSON data to map on button click
  function showData() {
    map.data.addGeoJson(jsonData); 
  }

  // Hide GeoJSON data overlay from map on button click
  function hideData() {
    map.data.forEach(function(feature) {
      map.data.remove(feature);
    });
  }
/* 
  // Add GeoJSON data to map on button click
  function showData(data) {
    map.data.addGeoJson(data); 
  }

  // Hide GeoJSON data overlay from map on button click
  function hideData(???) {
  map.data.forEach(function(feature) {
      map.data.remove(feature);
    });
  }
*/ 
  
</script>

{% endblock content %}
