{% extends 'base.html' %}

{% block additional_css %}

#floating-panel {
    position: absolute;
    top: 180px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

{% endblock additional_css %}

{% block content %}

{% block onload %}initMap(){% endblock onload %}

  <div>
    <h1>Google Maps Background With Clearable Points From Multiple Sources</h1>
  </div>

<div>
  <div id="floating-panel">

    <input onclick="showJsonData1();" type=button value="Load json1 Data (New York City)">
    <input onclick="showJsonData2();" type=button value="Load json2 Data (Australia)">
    <input onclick="hideData();" type=button value="Clear Data">

  </div>


  <div id='map'></div>
</div>


<script type="text/javascript">
  var map;
  // Bring in GeoJSON from python as django template variable
  var jsonData1 = {{ json_data1|safe }};
  var jsonData2 = {{ json_data2|safe }};

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    center: new google.maps.LatLng(0, 0),
    zoom: 2 
    });
  } 

  // Add jsonData1 data to map on button click
  function showJsonData1() {
    map.data.addGeoJson(jsonData1); 
  }

  // Add jsonData2 data to map on button click
  function showJsonData2() {
    map.data.addGeoJson(jsonData2); 
  }

  // Hide GeoJSON data overlay from map on button click
  function hideData() {
    map.data.forEach(function(feature) {
      map.data.remove(feature);
    });
  }

 
</script>

{% endblock content %}
