{% extends "base.html" %}

{% block title %}Update {{ account.user }}{% endblock title %}

{% block content %}

<div class="container">

  <!-- breadcrumbs -->
    <div class="row">
      <h4 class="col-xs-12">
        <a href="{% url 'portal' %}" >Home</a> /
        <a href="{% url 'accounts:account_update' account.account_slug %}" >update {{ account.user }}'s account</a>
      </h4>
    </div>
    <hr class="divider">
  <!-- end breadcrumbs -->

  <p>
    <form action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update {{ account.user }}">
    </form>
  </p>

  <p>
    <a href="{{ account.get_absolute_url }}">
      No, take me back to {{ account.user }}'s page
    </a>
  </p>

</div>
{% endblock content %}
