{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Accounts{% endblock title %}

{% block css %}

<link rel='stylesheet' href='{% static "css/dashboard.css" %}'/>

{% endblock css %}

{% block content %}

<!-- account / dataset links -->
<!-- I will append the link to the dataset here -->
<div class='container'>
  <div class='row' id='breadcrumbs'>
    <h4 class='col-xs-12'>
      <a href='{% url "portal" %}' >*</a> /
      <a href='{% url "accounts:account_list" %}' >accounts</a>
      <span id='account-dataset-breadcrumbs'></span>
    </h4>
  </div>
  <hr class="divider">
</div>
<!-- end account / dataset links -->

<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3 sidebar'>
      <ul class='nav nav-sidebar'>
        {% if account_list %}
          {% for account in account_list %}
            <li id={{ account.account_slug }} name='account'><a href='#'>{{ account }}</a></li>
          {% endfor %}
        {% else %}
          <li>There are no accounts yet</li>
        {% endif %}
      </ul>
    </div>
    <div class='col-sm-9 col-sm-offset-3 main'>
      <div id='account_info'>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}

<script src='{% static "js/index.js" %}'></script>
<script src='{% static "js/accounts/accountList.js" %}'></script>

{% endblock js %}
