{% extends "base_portal.html" %}
{% load staticfiles %}

{% block title %}{{ account.user }}{% endblock title %}

{% block breadcrumbs %}
/ <a href="{{ account.get_absolute_url }}" >{{ account.user }}</a>
{% endblock breadcrumbs %}

{% block portal_content %}

{% if account.affiliation %}
<div>
  <p><b>{{ account.user }}'s affiliation:</b> {{ account.affiliation }}</p>
</div>
<hr>
{% endif %}

<div>
  <p>
    <a href="{% url 'datasets:new_dataset' account.account_slug %}">
      Add New Dataset
    </a>
  </p>
  <p>
    <a href="{% url 'accounts:account_update' account.account_slug %}">
      Update Account
    </a>
  </p>
  <p>
    <a href="{% url 'accounts:account_remove' account.account_slug %}">
      Remove Account
    </a>
  </p>
</div>
<hr>
{% endblock portal_content %}
