{% extends "base_portal.html" %}
{% load staticfiles %}

{% block title %}{{ account.user }}{% endblock title %}

{% block css %}
<style>

  #datasetsContainer {
    height: 50em;
    float: left;
  }

  #datasets-list {
    overflow-y: auto;
    height: 41em;
  }

  #mainContainer {
    overflow-y: auto;
    overflow-x: hidden;
    float: right;
  }

  #mapid {
    height: 50em;
    margin-bottom: 10px;
  }

  #find_place_container {
    display: none;
  }

  #test_url_container {
    display: none;
  }

  /*
  #draw_polygon_container {
    display: none;
  }
  */

  #within_polygon_container {
    display: none;
  }


</style>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

{% endblock css %}

{% block breadcrumbs %}
/ <a href="{{ account.get_absolute_url }}" >{{ account.user }}</a>
{% endblock breadcrumbs %}

{% block portal_content %}

  {% if account.affiliation %}
  <div class="row" id="account_info">
    <div class="col-xs-12">
      <p><b>{{ account.user }}'s affiliation:</b> {{ account.affiliation }}</p>
    </div>
  </div>
  <hr>
  {% endif %}

  <div class="row"> <!-- do I need this id? -->
    <div class="col-xs-12 col-md-4 col-lg-3">
        <p>
          <a href="{% url 'datasets:new_dataset' account.account_slug %}">
          Add New Dataset
        </a>
        </p>
        <p>
        <a href="{% url 'accounts:account_update' account.account_slug %}">
          Update Account
        </a>
        </p>
        <p>
        <a href="{% url 'accounts:account_remove' account.account_slug %}">
          Remove Account
        </a>
        </p>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-9" id="selected_link"><!-- this is where the dataset link will be -->
    </div>
  </div>
  <hr>


  <!-- add extras -->
  <div class="row" id="extras_buttons">
    <div class="col-xs-12" id="add_extras">
      <div class="btn-group" role="group">
        <button id="find_place_button" class="btn btn-default">
          Search for a location
        </button>
        <button id="test_url_button" class="btn btn-default">
          Test dataset at an open URL
        </button>
        <!--
        <button id="draw_polygon_button" class="btn btn-default">
          Draw a polygon (NOT YET)
        </button>
        -->
        <button id="within_polygon_button" class="btn btn-default">
          Get data within a polygon
        </button>

      </div>
    </div>
  </div>

  <div class="col-xs-12" id="extras_containers">

    <div class="row" id="find_place_container">
      <div id="nominatim">
        <h3>Find a place</h3>
        <div class="input-group">
          <input id="place_input" class="form-control" type="text"
           placeholder="Enter place name here">
          <span class="input-group-btn">
            <input id="place_button" class="btn btn-default" type="submit"
              value="Submit">
          </span>
        </div>
        <div class="btn-group" role="group">
          <input id="select_button" class="btn btn-default" type="submit"
            value="Submit">
          <input id="place_toggle" class="btn btn-default" type="submit"
            value="Toggle">
        </div>
        <select id="selector"></select>
      </div>
      <br/>
    </div>

    <div class="row" id="test_url_container">
      <h3>Test a URL</h3>
      <label for="test_url_input">For example copy and paste this into the input box then hit enter: https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson</label>
      <div class="input-group">
        <input id="test_url_input" class="form-control" type="text" placeholder="Enter URL Here">
        <span class="input-group-btn">
          <input id="get_test_url" class="btn btn-default" type="submit" value="Submit">
        </span>
      </div>
      <div id="test_urls" class="btn-group" role="group">
        <button id="toggle_test_urls" class="btn btn-default">Toggle test datasets</button>
      </div>
      <br/>
    </div>

    <div class="row" id="draw_polygon_container"></div>
    <div class="row" id="within_polygon_container"></div>
  <hr /> <!-- having trouble with the horizontal rule gaps -->
  </div>
  <!-- end add extras -->



  <div class="row" id="filters">
    <div class="col-xs-12">
    </div>
  </div>

  <div class="row" id="main">
    <div class="col-xs-12 col-md-8 col-lg-9" id="mainContainer"> <!-- how do i make this container scrollable -->
      <div class='custom-popup' id="mapid"></div>
    </div>

    <!-- I need to set this up so it loads by ajax, maybe -->
    <div class="col-xs-12 col-md-4 col-lg-3" id="datasetsContainer">
      <ol class="nav nav-pills nav-stacked">
          <li>
            <form action="." method="GET">
              <input class="form-control" name="q" type="text" placeholder="Search Datasets">
            </form>
          </li>
      </ol>
      <ol id="datasets-list" class="nav nav-pills nav-stacked">
        <!-- about to get real hacky here -->
        {% if dataset_list %}
          {% for dataset in dataset_list %}
            {% if dataset.dataset_password %}
              <li class="">
                <a name="dataset" id="{{ dataset.ext }}" value="{{ dataset.pk }}"
                  link="{{ dataset.get_absolute_url }}">
                  {{ dataset.title }}
                </a>
              </li>
            {% else %}
              <li class="">
                <a name="dataset" id="{{ dataset.ext }}" value="{{ dataset.pk }}"
                  link="{{ dataset.get_absolute_url }}" url="{{ dataset.url }}">
                  {{ dataset.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% else %}
          <li><a href="#">There are no datasets available</a></li>
        {% endif %}
      </ol>
    </div>
  </div>




{% endblock portal_content %}

{% block portal_js %}
<!-- This should be covered by the base_portal page
<script src="{% static 'js/accounts/accountDetail.js' %}"></script>
-->
{% endblock portal_js %}
