{% extends "base.html" %}

{% block title %}Remove Account{% endblock title %}

{% block breadcrumbs %}
/ <a href="{{ account.get_absolute_url }}">{{ account.user }}</a>
/ <a href="{% url 'accounts:account_remove' account.account_slug %}" >remove {{ account.user }}'s account</a>
{% endblock breadcrumbs %}


{% block content %}

  <p>
    <form action="." method="POST">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Yes, please remove {{ account.user }}"/>
    </form>
  </p>

  <p>
    <a href="{{ account.get_absolute_url }}">
      No, take me back to {{ account.user }}'s page
    </a>
  </p>

{% endblock content %}
