{% extends "base.html" %}
{% block content %}

<p><a href='{% url "portal" %}'>Back to portal page</a></p>

{% if account_list %}

  {% for account in account_list %}
  <p>
    <p>{{ account.pk }}</p>
    <p>{{ account.user }}</p>
    <p>{{ account.affiliation }}</p>
    <p>{{ account.account_slug }}</p>
    <p>{{ account.date_added }}</p>
    <p><a href='{{ account.get_absolute_url }}'>{{ account.get_absolute_url }}</a></p>
  </p>
  {% endfor %}

{% else %}

  No accounts

{% endif %}

{% endblock content %}
