{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Keywords{% endblock title %}

{% block content %}

<div class='container'>
<h1>Keywords</h1>

<input id='keyword_query_input' type='text' />
<!-- <input id='keyword_query_button' type='submit' /> -->
<div id='keyword_list_div'></div>
<div id='keyword_detail'></div> <!-- should this just be keyword_datasets -->
</div>


<script>

const keywordListDiv = document.getElementById('keyword_list_div')
const keywordListUrl = '/keywords/list'
const keywordQueryInput = document.getElementById('keyword_query_input')
const keywordDetail = document.getElementById('keyword_detail')

// data to div function
const dataToDiv = (data, div) => div.innerHTML = data

// the XMLHttpRequest function to get the view
const getPage = ( (url, func, target) => {
  const xhr = new XMLHttpRequest()
  xhr.open('GET', url, true)
  xhr.onload = () => {
    xhr.readyState === 4 && xhr.status === 200
      ? func(xhr.responseText, target)
      : console.log(xhr.statusText)
  }
  xhr.onerror = () => console.log('error')
  xhr.send()
})

// get the elements in the template that are in the div, and
// add event listeners to them that call their pages



// add event listener to input
keywordQueryInput.addEventListener('input', () => {
  const val = keywordQueryInput.value
  const queryUrl = keywordListUrl + '?q=' + val
  getPage(queryUrl, dataToDiv, keywordListDiv)
})

getPage(keywordListUrl, dataToDiv, keywordListDiv)



</script>
{% endblock content %}
