{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ keyword }} datasets{% endblock title %}

{% block breadcrumbs %}
/ <a href="{% url 'keywords:keyword_list' %}">keywords</a>
/ <a href="{{ keyword.get_absolute_url }}" >{{ keyword.keyword }}</a>
{% endblock breadcrumbs %}

<!-- THIS NEEDS TO BE A PORTAL PAGE -->

{% block content %}

  <h1>{{ keyword }} datasets</h1>
  <hr/>
  {% for dataset in dataset_list %}
    <p>
      <a href="{{ dataset.get_absolute_url}}">
        {{ dataset.title }}
      </a>
    </p>
  {% endfor %}

{% endblock content %}
