{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Keywords{% endblock title %}

{% block css %}
<style>



</style>
{% endblock css %}


{% block content %}

<div class="container">

  <h1>Keywords</h1>
  <p style='color:red'>
    Warning: if there is a dataset without any associated keywords, it will not be searchable with this feature</p>
  <form action='.' method='GET'>
    <input id='keyword_query_input' class='form-control' type='text' placeholder='Search Keywords' name='q'/>
  </form>
  <h5>Keywords: {{ total_keywords }}, Datasets: {{ total_datasets }}</h5>
  <hr/>
  {% for keyword in keyword_list %}
    <p>
      <a name="keyword_link" id="{{ keyword.pk }}" href="{{ keyword.get_absolute_url }}">
        {{ keyword.keyword }}: {{ keyword.datasets.all|length }}
      </a>
    </p>
  {% endfor %}

</div>

{% endblock content %}
