{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Keywords{% endblock title %}

{% block css %}
<style>

  #keyword_list_div {
    height: 50em;
    float: left;
    overflow-y: auto;
  }

  #dataset_list_div {
    height: 50em;
    float: right;
    overflow-y: auto;
  }


</style>
{% endblock css %}




{% block content %}

<div class='container'>
  <h1>Keywords</h1>
  <p style='color:red'>
    Warning: if there is a dataset without any associated keywords, it will not
    be searchable with this feature
  </p>

  <input id='keyword_query_input' class='form-control' type='text' placeholder='Search Keywords'/>
  <hr/>
  <div id='lists'>
    <div id='keyword_list_div'></div>
    <div id='dataset_list_div'></div>
  </div>

</div>
<script src='{% static "js/index.js" %}'></script>
<script src='{% static "js/keywords/keywords.js" %}'></script>
{% endblock content %}
