<html>
<head>

<title>
  {% block head_title %}
  {% endblock head_title %}
</title>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<!-- <script src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
<script src="http://maps.google.com/maps/api/js"></script>

<style>
  html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 10px;
  }
  #map {
    height: 80%;
    margin: 10px;
  }
  #links {
    width: 80%;
  }

{% block additional_css %}
{% endblock additional_css %}

</style>


</head>

<body onload='{% block onload %} {% endblock onload %}'>
  <div id='links'>
    <ul>
      <a href="{% url 'index' %}">| Main |</a>
      <a href="{% url 'point_with_info_window' %}">| Point with info window |</a>
      <a href="{% url 'many_points_hardcoded_js' %}">| Many Points Hardcoded JS |</a>
      <a href="{% url 'many_points_hardcoded_py' %}">| Many Points Hardcoded Py |</a>
      <a href="{% url 'many_points_with_info_windows' %}">| Many Points With Info Windows |</a>
      <a href="{% url 'json_from_web_url' %}">| Many Points As JSON From URL |</a>
      <a href="{% url 'json_from_web_to_python' %}">| Many Points As JSON From Web To Python |</a>
      <a href="{% url 'map_with_clearable_points' %}">| Map With Clearable Points |</a>
      <a href="{% url 'map_with_clearable_points_from_multiple_sources' %}">| Map With Clearable Points |</a>
      </ul>
  </div>
{% block content %}
{% endblock content %}

</body>
</html>    
    
