{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}About{% endblock head_title %}

{% block content %}

<div class="container-fluid">

<!-- account links -->
  <div class="row">
    <h5 class="col-xs-12">
      <a href="{% url 'portal' %}" >*</a> /
      <a href="{% url 'about' %}" >about</a>
    </h5>
  </div>
  <hr class="divider">
<!-- end account links -->

    <p>
      The goal of the Web GIS Portal is to be the world's top tropical Geographic Information Systems
      (GIS) data displaying website. It is based out of the Leibniz Zentrum für Marine Tropenökologie
      in Bremen, Germany. We plan to keep the code behind the website as simple as possible, while 
      staying up to date with the latest trends. Further functionality will be added as the project
      matures.
    </p>

    <p>
      Through out developement we are adhering to the Test Driven Development (TDD) method as much as possible.
      The TDD method requires that developers write tests for their functions before writing their functions.
      For example if we were creating a simple add function we would write the test that called the function and
      asserted an answer before the function was written. Then, after seeing the test fail, we would make it pass
      by writing the function. As an example have made our JavaScript testing suite available here:
      <a href="{% url 'jstests' %}" target="_blank" >JavaScript testing suite</a>.
    </p>

    <p>
      If you would like to see the source code for the website visit our <a href="https://github.com/patzmt/WebGIS" target="_blank">github page</a>.
    </p>

    <p>
      If you have any questions or comments regarding the website, please email Patrick Curry
      at patrick.curry(at)leibniz-zmt.de.
    </p>

    <p>This website is being developed with <a href="https://www.djangoproject.com/" target="_blank">
      Django</a>, 
      <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>,
      <a href="http://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap 4</a>, 
      and <a href="http://leafletjs.com/" target="_blank">Leafletjs</a>.
    </p>

</div>

{% endblock content %}
