{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>ZMT | {% block head_title %}{% endblock head_title %}</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <!-- end bootstrap -->

    <!-- any additional css -->
    <style>
    nav { z-index: 100000; }

    {% block additional_css %}
    {% endblock additional_css %}

    </style>
    <!-- end any additional css -->

  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="http://www.zmt-bremen.de/en/zmt.html" target="_blank">
        <img src="{% static 'images/zmt_logo_bw.png' %}" height=40 alt="ZMT Logo" />
      </a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'datasets:portal' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'datasets:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'datasets:contact' %}">Contact</a>
        </li>
        <li class="nav-item float-xs-right">
            <a id="account" class="nav-link font-weight-bold text-warning" href="{% url 'accounts:account_view' %}">Account</a>
        </li>
      </ul>
    </nav>
    <!-- end navbar -->

{% block content %}

{% endblock content %}

<!-- bootstrap -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<!-- end bootstrap -->

<!-- load scripts for specific pages -->
{% block js %}

{% endblock js %}
<!-- end load scripts for specific pages -->

  </body>
</html>
