{% extends "base.html" %}
{% load staticfiles %}

{% block content %}






<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'css/map.css' %}" />

<!-- marker cluster cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.5/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.5/MarkerCluster.Default.css" />

{% block portal_content %}

{% endblock portal_content %}




<!-- javascript for portal pages -->

<script src="https://unpkg.com/easy-nominatim@1.0.3"></script>

<script src="{% static 'js/new/portal.js' %}"></script>
<!-- javascript for portal pages -->

<!-- extra javascript specific to the page, shouldn't need this -->
{% block portal_js %}
{% endblock portal_js %}

{% endblock content %}
