{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

  <title>ZMT | {% block title %}{% endblock title%}</title>

  <link rel='stylesheet' href='https://unpkg.com/purecss@0.6.2/build/pure-min.css'>
  <link rel='stylesheet' type='text/css' href='{% static "css/style.css" %}' />
  {% block css %}
  {% endblock css %}

</head>
<body>


<!-- NAVBAR -->
<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading" href='{% static "images/ZMT_LOGO_WHITE_200px.png" %}'>
      <img src='{% static "images/ZMT_LOGO_WHITE_200px.png" %}'
      height=32 alt='ZMT Logo White' />
    </a>

    <ul class="pure-menu-list">
    {% if user.is_authenticated %}
      <li class="pure-menu-item">
        <a href='{{ user.account.get_absolute_url }}' class="pure-menu-link">
          {{ user.account }}
        </a>
      </li>
      <li class="pure-menu-item">
        <a href="{% url "logout" %}" class="pure-menu-link">
          Logout 
        </a>
      </li>
    {% else %}
      <li class="pure-menu-item">
        <a href='{% url "register" %}' class="pure-menu-link">
          Register
        </a>
      </li>
      <li class="pure-menu-item">
        <a href="{% url "login" %}" class="pure-menu-link">
          Login 
        </a>
      </li>
    {% endif %}
    </ul>

  </div>
</div>
<!-- NAVBAR -->

<!-- CONTENT -->
{% block content %}
{% endblock content %}
<!-- CONTENT -->

<!-- JS -->
{% block js %}
{% endblock js %}
<!-- JS -->

  </body>
</html>
