{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Contact{% endblock head_title %}

{% block content %}

<div class="container-fluid">

<!-- contact links -->
  <div class="row">
    <h5 class="col-xs-12">
      <a href="{% url 'portal' %}" >*</a> /
      <a href="{% url 'contact' %}" >contact</a>
    </h5>
  </div>
  <hr class="divider">
<!-- end account links -->

    <p>
      If you have any questions about the website, please email Patrick Curry
      at patrick.curry@leibniz-zmt.de.
    </p>

</div>

{% endblock content %}
