{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Mocha Tests{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.css" />

  <style>
    #mocha-stats {
      float: right;
      position: static;
    }

    #mocha-report {
      margin-top: 25px;
    }

  </style>

{% endblock css %}

{% block content %}

<div class="container">

  <!-- breadcrumbs -->
    <div class="row">
      <h4 class="col-xs-12">
        <a href="{% url 'portal' %}" >Home</a> /
        <a href="{% url 'jstests' %}" >javascript tests</a>
      </h4>
    </div>
    <hr class="divider">
  <!-- end breadcrumbs -->

  <div id="mocha"></div>

</div>

{% endblock content %}

{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.5.0/chai.js"></script>
  <!-- <script src="../node_modules/chai-as-promised/lib/chai-as-promised.js"></script> -->

  <script>
    mocha.setup("bdd")
    mocha.reporter("html")
    var assert = chai.assert
    var should = chai.should
    var expect = chai.expect
  </script>

  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/test/test.index.js' %}"></script>

  <!-- importing leaflet and omnivore after index.js stuff above because it's not relevant to it -->
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-omnivore/0.3.4/leaflet-omnivore.js"></script>

  <script type="text/javascript" src="{% static 'js/indexMap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/test/test.indexMap.js' %}"></script>

  <script>
    mocha.checkLeaks()
    mocha.globals(["L"])
    mocha.run()
  </script>
{% endblock js %}
