{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>Mocha Tests</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.css" rel="stylesheet" />


  <!-- bring in leaflet css -->
  {% include "base_map_css.html" %}
  <!-- end bring in leaflet css -->


</head>
<body>


  <!-- How do i mock these? -->
  <div id="mapid"></div>
  <input type="checkbox" name="datasetCheckbox" id="datasetCheckbox" value=1>
  <input type="checkbox" name="datasetCheckbox" id="datasetCheckbox" value=2>
  <!-- How do i mock these? -->

  <div id="mocha"></div>

  <!-- bring in leaflet css and leaflet js -->
  {% include "base_map_js.html" %}
  <!-- bring in leaflet js -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.5.0/chai.js"></script>

  <!-- I am still working to rid the site of jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>

  <script>mocha.setup('bdd')</script>

  <!-- bring in the javascript files to be tested -->
  <script type="text/javascript" src="{% static 'js/datasets/base.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/datasets/base_map.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/datasets/portalView.js' %}"></script> 
  <!-- end bring in the javascript files to be tested -->

  <script type="text/javascript" src="{% static 'test/test.js' %}"></script>

  <script>
    mocha.run();
  </script>
</body>
</html>

