{% extends "base_grid.html" %}
{% load staticfiles %}

{% block title %}Portal{% endblock title %}

{% block css %}
<style>

  #datasetsContainer {
  height: 50em;
  float: left;
  }

  #datasets-list {
  overflow-y: auto;
  height: 41em;
  }

  #mapContainer {
  float: right;
  }

  #mapid {
  height: 50em;
  margin-bottom: 10px;
  }

  #find_place_container {
  display: none;
  }

  #test_url_container {
  display: none;
  }

  /*
  #draw_polygon_container {
  display: none;
  }
  */

  #within_polygon_container {
  display: none;
  }

</style>

{% endblock css %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'css/map.css' %}" />

<!-- marker cluster cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.5/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.5/MarkerCluster.Default.css" />

<div class="row" id="extras_buttons">
  <div class="col-xs-12" id="add_extras">
    <div class="btn-group" role="group">
      <button id="show_find_place_container_button" class="btn btn-default">
        Search for a location
      </button>
      <button id="show_test_url_container_button" class="btn btn-default">
        Test dataset at an open URL
      </button>
      <button id="show_within_polygon_container_button" class="btn btn-default">
        Get data within a polygon
      </button>
      <button id="toggle_marker_clusters" class="btn btn-default">
        Cluster Points Markers
      </button>
    </div>
  </div>
</div>
<div class="col-xs-12" id="extras_containers">
  <div class="row" id="find_place_container">
    <div id="nominatim">
      <h3>Find a place</h3>
      <input id="place_input" type="text"
             placeholder="Enter place name here">
      <div class="btn-group" role="group">
        <input id="select_button" class="btn btn-default" type="submit"
               value="Submit">
        <input id="place_toggle" class="btn btn-default" type="submit"
               value="Toggle">
      </div>
      <select id="selector"></select>
    </div>
    <br/>
  </div>
  <div class="row" id="test_url_container">
    <h3>Test a URL</h3>
    <label for="test_url_input">For example copy and paste this into the input box then hit enter: https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson</label>
    <input id="test_url_input" type="text" placeholder="Enter URL Here">
    <div id="test_urls" class="btn-group" role="group">
      <button id="toggle_test_urls" class="btn btn-default">Toggle test datasets</button>
    </div>
    <br/>
  </div>
  <hr />
  <div class="row" id="within_polygon_container">
    <input id="file_name_input" type="text"
           placeholder="Enter the file name here">
    <button id="save_button" class="btn btn-default">Save to geojson file</button>
  </div>
</div>
<hr />


<div class="sidebar">

<!--
  for the non list dataset page I believe this can be done better, but
  this is a first test
-->
{% if dataset %}
  {% if dataset.dataset_password %}
    <div name="dataset" id="{{ dataset.pk }}" detail="yeah"
         value="{{ dataset.ext }}">
    </div>
  {% else %}
    <div name="dataset" id="{{ dataset.pk }}" detail="yeah"
         value="{{ dataset.ext }}" url="{{ dataset.url }}">
    </div>
  {% endif %}
    <div id="clear_map"></div>
{% else %}

<!-- list logic -->
{% if dataset_list %}

<!-- search bar and clear map button -->
<ul class="nav nav-pills nav-stacked">
  <li>
    <form action="." method="GET">
      <input name="q" type="text"
             title="Search Datasets" placeholder="Search title, account, author, keyword">
    </form>
  </li>
  <li>
    <button class="btn btn-default btn-block" id="clear_map">
      Clear Map
    </button>
  </li>
</ul>
<!-- end search bar and clear map button -->

<div id="dataset-scroll-list">
  {% for dataset in dataset_list %}
    {% if dataset.dataset_password %}
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"
                  name="dataset" id="{{ dataset.pk }}"
                  value="{{ dataset.ext }}">
            {{ dataset.title }}
          </button>
        </div>
        <div class="btn-group" role="group">
          <a href="{{ dataset.get_absolute_url }}" type="button" class="btn">
            Dataset page
          </a>
        </div>
      </div>
    {% else %}
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"
                  name="dataset" id="{{ dataset.pk }}"
                  value="{{ dataset.ext }}" url="{{ dataset.url }}">
            {{ dataset.title }}
          </button>
        </div>
        <div class="btn-group" role="group">
          <a href="{{ dataset.get_absolute_url }}" type="button" class="btn">
            Dataset page
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <a style="color:red" href="{% url 'portal' %}">
    No datasets available. Clear Search.
  </a>
{% endif %}
<!-- end list logic -->

{% endif %}
</div>

</div>

<div class="main-map">
      <div class="custom-popup" id="mapid"></div>
</div>


<!-- javascript for portal pages -->

<!-- <script src="https://unpkg.com/easy-nominatim@1.0.3"></script> -->
<script src="{% static 'js/bundle.js' %}"></script>
<!-- javascript for portal pages -->
{% endblock content %}
