{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Portal{% endblock head_title %}


{% block additional_css %}
  <style>
      #mapid {
        height: 85%;
        margin-bottom: 10px;
      }
  </style>
{% endblock additional_css %}

{% block content %}
{% include "base_map_css.html" %}


<div class="container-fluid">

<!-- account / dataset links -->
  <div class="row">
    <h5 class="col-xs-12">
      <a href="{% url 'portal' %}" >*</a>
    </h5>
  </div>
  <hr class="divider">
<!-- end account / dataset links -->


  <div class="row">
<!-- Dataset Choices Sidebar NEW -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 sidebar-offcanvas" id="sidebar" style="display:none">

      <form action="" method="get">
        <input type="text" class="form-control text-center" name="q" placeholder="Search Datasets by Title">
        <a role="button" class="btn btn-secondary btn-block" href="{% url 'portal' %}">Show All</a>
      </form>

<!-- List of maps with if statements parsing through them-->
      <div>
        <ul id="sidebar_map_list" class="nav nav-sidebar">
          <li><b>Map Name <!--<div class="pull-right">Meta Data</div></b></li>-->Meta Data</b></li>
        {% if dataset_list %}
          {% for dataset in dataset_list %}

              <li>
                <label>
                  <input type="checkbox" name="datasetCheckbox" id="datasetCheckbox" value={{ dataset.pk }}>{{ dataset.title }} 
                </label>
                <a href="{{ dataset.get_absolute_url }}" >
                  <i class="fa fa-newspaper-o fa-pull-right fa-border" aria-hidden="true"></i>
                </a>
              </li>

          {% endfor %}
        {% else %}
          <h4>There are no datasets available</h4>
        {% endif %}
      </div>
      </ul>
    </div>
<!-- End List of maps -->

<!-- Map and Background Choices -->
    <div class="col-12 col-xs-12" role="main" id="main_map">
      <div id="mapid">
      </div>
    </div>
<!-- End Map and Background Choices -->


{% include "base_map_js.html" %}
{% endblock content %}


{% block js %}

<script type="text/javascript" src="{% static 'js/datasets/base.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/datasets/base_map.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/datasets/portalView.js' %}"></script> 

{% endblock js %}
