{% extends "base_portal.html" %}
{% load staticfiles %}

{% block title %}Portal{% endblock title %}

{% block css %}
<style>

  #datasetsContainer {
    height: 50em;
    float: left;
  }

  #datasetsContainerJS {
    height: 50em;
    float: left;
  }

  #datasets-list {
    overflow-y: auto;
    height: 41em;
  }

  #mapContainer {
    float: right;
  }

  #mapContainerJS {
    float: right;
  }

  #mapid {
    height: 50em;
    margin-bottom: 10px;
  }

  #find_place_container {
    display: none;
  }

  #test_url_container {
    display: none;
  }

  /*
  #draw_polygon_container {
    display: none;
  }
  */

  #within_polygon_container {
    display: none;
  }

</style>

{% endblock css %}

{% block portal_content %}

  {% include "pieces/editmap.html" %}

  <div id="js-mount"></div>
  <!-- to here -->
  <script>
    json_data = JSON.parse("{{json_data|escapejs}}");
    js_mount = document.getElementById("js-mount");
  </script>
  <script src="{% static 'js/serialized.js' %}"></script>



{% endblock portal_content %}

{% block portal_js %}
{% endblock portal_js %}
