{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Portal{% endblock title %}

{% block css %}
<style>

  #mapid {
    height: 50em;
    margin-bottom: 10px;
  }

</style>

<link rel='stylesheet' href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css' />

{% endblock css %}

{% block content %}

<!-- account / dataset links -->
  <div class='row'>
    <h5 class='col-xs-12'>
      <a href='{% url "portal" %}' >*</a> /
      <a href='{% url "portal" %}' >portal</a>
    </h5>
  </div>
  <hr class='divider'>
<!-- end account / dataset links -->

<!-- datasets -->
<div id="dataset_list">
  <div class="pure-menu">
    <ul class="pure-menu-list">
      {% if dataset_list %}
        {% for dataset in dataset_list %}
          <li class='pure-menu-item'>
            <a href="#" class="pure-menu-link" id={{ dataset.ext }} value={{ dataset.pk }}>
              {{ dataset.title }}
            </a>
          </li>
        {% endfor %}
      {% else %}
          <li class='pure-menu-item'>
            There are no datasets available
          </li>
      {% endif %}
    </ul>
  </div>
</div>
<!-- end datasets -->

<!-- map -->
<div id='mapid'></div>
<!-- end map -->

{% endblock content %}

{% block js %}
<script src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js'></script>
<script src='{% static "js/portalView.js" %}'></script>
{% endblock js %}
