{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Test a URL{% endblock title %}

{% block css %}
<style>

  .breadcrumb {
    background-color: white;
  }

  #mapContainer {
    float: right;
  }

  #mapid {
    height: 50em;
    margin-bottom: 10px;
  }

</style>
<link rel='stylesheet' href='{% static "css/dashboard.css" %}'/>
<link rel='stylesheet' href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css' />

{% endblock css %}

{% block content %}

<div class='container'>

<!-- breadcrumbs -->
  <div class="row">
    <h4 class="col-xs-12">
      <a href="{% url 'portal' %}" >Home</a> /
      <a href="{% url 'url_test' %}" >URL test</a>
    </h4>
  </div>
  <hr class="divider">
<!-- end breadcrumbs -->

  <div class='row' id='main'>

    <div class='col-xs-12' id='urlContainer'>
      <h2>Test a URL</h2>
      <label for='url_input'>For example copy and paste this into the input box then hit enter: https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson</label>
      <div class='input-group'>
        <input id='url_input' class='form-control' type='text' placeholder='Enter URL Here'>
        <span class='input-group-btn'>
          <input id='url_button' class='btn btn-default' type='submit' value='Submit'>
        </span>
      </div>
    </div>

    <div class='col-xs-12'>
      <div id='buttons' class='btn-group' role='group'>
        <button id='toggle_all' class='btn btn-default'>Toggle Datasets</button>
      </div>
    </div>

    <div class='col-xs-12'>
      <div id='nominatim'>
        <h2>Find a place</h2>
        <div class='input-group'>
          <input id='place_input' class='form-control' type='text' placeholder='Enter Place Here'>
          <span class='input-group-btn'>
            <input id='place_button' class='btn btn-default' type='submit' value='Submit'>
          </span>
        </div>

        <div class='btn-group' role='group'>
          <input id='select_button' class='btn btn-default' type='submit' value='Submit'>
          <input id='place_toggle' class='btn btn-default' type='submit' value='Toggle'>
        </div>
        <select id='selector'></select>
      </div>
    </div>

    <div class='col-xs-12'>
      <h2>Get data from that place</h2>
      <p>
        <input id='filter_button' class='btn btn-default' type='submit' value='Get data'>
        <input id='save_combo_button' class='btn btn-default' type='submit' value='Save to file'>
      </p>

    </div>

    <div class='col-xs-12' id='mapContainer'>
      <div id='mapid'></div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js'></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src='https://npmcdn.com/@turf/turf@4.0.0/turf.min.js'></script>
<script src='https://unpkg.com/easy-nominatim@1.0.3'></script>
<!--<script src='{% static "temp/easy-nominatim.js" %}'></script>-->

<script src='{% static "js/index.js" %}'></script>
<script src='{% static "js/indexMap.js" %}'></script>
<script src='{% static "js/initMap.js" %}'></script>
<script src='{% static "js/filesaver.js"%}'></script>
<script src='{% static "js/main/urlTest.js" %}'></script>
{% endblock js %}
